:root{
  background-color: #000;
  font-family: 'Ancizar Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar{
  display: none;
}

html, body{
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
}

figure{
  margin: 0;
  overflow: hidden;
}

.slide{
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
  & .slide__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;;
    z-index: -1;
  }

  & .slide__img_full{
    width: 700px;
    height: 700px;
    object-fit: contain;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0));
  }
  & .slide__img_card{
    width: 800px;
    height: 800px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .slide__text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 10rem;
    z-index: 900;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    & .slide__title{
      font-size: clamp(1rem, 2.5vw, 3rem);
      font-weight: 900;
      margin: 0;
      padding: 0;
      z-index: 900;
      align-self: start;
    }
    & .slide__description{
      font-size: clamp(0.8rem, 2.5vw, 1.7rem);
      font-weight: 400;
      width: 400px;
      margin: 0;
      padding: 0;
      z-index: 900;
      align-self: start;
    }
  }

  

  & .overlay__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    &::after {
      content: "";
      height: 20px;
      left: -40px;
      position: absolute;
      top: 40px;
      width: 100px;
    }
    object-fit: cover;
    overflow: hidden;
    z-index: -100;
  }
}

.slide:nth-child(1){
  visibility: visible;
  .slide__content{
    background-color: #ffffff50;
    color: #000;
  }
}

/* .slide:nth-child(2){

  .slide__content{
    background-color: #000;
    color: #fff;
  }
} */

.slide:nth-child(2){

  .slide__content{
    background-color: #01173850;
    color: #fff;
  }
}

.slide:nth-child(3){
  .slide__content{
    background-color: #3f190850;
    color: #fff;
  }
}

.slide:nth-child(4){
  .slide__content{
    background-color: #21ffc750;
    color: #ff78e9;

    & .slide__description{
      color: #fff;
    }
  }
}

.slide:nth-child(5){
  .slide__content{
    background-color: #fa60d350;
    color: #fff;
  }
}

.slide:nth-child(6){
  .slide__content{
    background-color: #779c3250;
    color: #91380f;
  }
}

.slide:nth-child(7){
  .slide__content{
    background-color: #ffba2450;
    color: #000;
  }
}

.slide:nth-child(8){
  .slide__content{
    background-color: #9a2ab650;
    color: #fff;
  }
}

.slide:nth-child(9){
  .slide__content{
    background-color: #ffce6350;
    color: #fff;
  }
}

.slide:nth-child(10){
  .slide__content{
    background: linear-gradient(to bottom, #ffce6350, #ff63f750);
    color: #fff;
  }
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
}